<% @products.each do |product| %>
<%= image_tag product.image %>
  <ul>

    <% (1..5).each do |i| %>
      <li class="rating_star" data-product-id="<%= product.id %>" value="<%= i %>" id="<%="product_#{product.id}_#{i}"%>">star</li>
    <% end %>

  </ul>
<% end %>
